<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.magamGG.domain.agency.mapper.AgencyMapper">

    <!-- NEW_REQUEST 상태 업데이트 -->
    <update id="updateNewRequestStatus">
        UPDATE NEW_REQUEST 
        SET NEW_REQUEST_STATUS = #{status}
        WHERE NEW_REQUEST_NO = #{newRequestNo}
    </update>

    <!-- MEMBER의 AGENCY_NO 업데이트 -->
    <update id="updateMemberAgencyNo">
        UPDATE MEMBER 
        SET AGENCY_NO = #{agencyNo}
        WHERE MEMBER_NO = #{memberNo}
    </update>

</mapper>
